body {
  background: #fafafa;
  font-family: "Courier New", Courier, monospace;
  display: flex;
  justify-content: center;
  user-select: none;
}

.container {
  position: relative;
  width: 1120px;
  min-height: 30vh;
  display: grid;
  flex-wrap: wrap;
  padding-left: 15px;
  justify-content: left;
  border: 1px solid black;
  padding-bottom: 20px;
}

.busca {
  position: relative;
  height: 20vh;
}
.formulario {
  width: 55vw;
  display: inline;
}
.formulario input,
select {
  margin-right: 50px;
  border-bottom: 1.5px solid #aaa;
  padding: 5px;
}
.formulario input,
select:focus {
  outline: none;
}
.formulario #nomeEstagiario {
  width: 250px;
}
.formulario #cidadeEstagiario {
  width: 400px;
}
.formulario #dataIni {
  width: 100px;
}
.formulario #dataFim {
  width: 100px;
}

.botoes {
  position: relative;
  display: flex;
  float: inline-end;
  margin-right: 2em;
}
button {
  position: relative;
  margin: 1px;
  margin-top: 25px;
  padding: 10px;
  font-size: 0.8em;
  border-radius: 1px none;
}
#busca {
  color: white;
  background: #1565c0;
  border: none;
  border-radius: 3px;
}
#busca:hover {
  background: #193657;
  cursor: pointer;
}
#limpa {
  border: none;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
#limpa:hover {
  cursor: pointer;
  background: rgb(255, 44, 44);
  color: white;
}
input,
select {
  border-top: none;
  border-left: none;
  border-right: none;
  background: none;
}

input,
select::-webkit-outer-spin-button,
input,
select::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.baseColunas {
  border-bottom: 1px solid #aaa;
  margin-bottom: 20px;
}

.baseColunas th {
  position: relative;
  height: 40px;
  width: 135px;
  border: 0px;
}

#pesquisa {
  color: #1565c0;
  border-bottom: 2px solid #1565c0;
  height: 40px;
  width: 250px;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}

table {
  position: relative;
}

thead {
  width: 140px;
  height: 40px;
  text-align: center;
}
tbody {
  text-align: center;
  height: 100px;
}

nav {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  border-top: 0.1px solid grey;
  vertical-align: auto;
}
.navg #paginas {
  display: flex;
  color: #1565c0;
}
.navegacao {
  display: flex;
  vertical-align: auto;
  list-style: none;
  margin-top: 20px;
  height: 20px;
}
.navegacao ul {
  display: block;
  justify-content: center;
}
.navegacao li {
  height: 20px;
}
.navegacao #add {
  margin-top: 2px;
  width: 10px;
  height: 20px;
  text-align: justify;
}
.navegacao #anterior:hover,
#proximo:hover {
  background: #e6e6e6;
  cursor: pointer;
}
.navg {
  display: none;
  text-align: center;
}
